//Screen
$xl: 1920px;
$lg: 1360px;
$md: 1024px;
$s: 768px;
$xs: 576px;

// Containers

$xlC: 1320px;
$lgC: 1140px;
$mdC: 960px;
$sC: 720px;
$xsC: 540px;


//Colors
$clText:#FFFFFF;
$clDarkGrey: #333333;
$clblue: #5373FD;
$clLgtBlue: #00A2FF;
$clMdBlue: #486BFE;
$clorange: #FF6363;
$clFooterBg: #000000;
$clPlace: #999999;
$clArtBgTr: rgba(35, 35, 35, 0.9);
$clArtBg: #333333;


$Aleofamily: 'Aleo', serif;
$Joseffamily: 'Josefin Sans', sans-serif;











